@model BaseViewModel
@inject BL.Factory _f

@{
    Model.PageTitle = "GURU over License";

    Layout = "~/Views/Shared/_LayoutAnonym.cshtml";


}

<h4>Vítej Guru!</h4>

<a href="/CreateLicense/Index">Založit novou licenci</a>
<br />
<br />
<a href="/Guru/CreateDb">Založit sql databázi v cloudu</a>
<hr />

<br />
<br />
<a href="/Guru/GenerateScripts">Distribuční skripty</a>


<br />
<br />
<a href="/Mis/Index">Migrace 6->7</a>

<br />
<br />
<a href="/Dump/Index">DUMP</a>