@inject BL.Factory _f




<div class="dropdown" style="margin-left:8px;">
    <button type="button" id="cmdgridmenu" class="btn dropdown-toggle bog" role="button" data-bs-toggle="dropdown" aria-expanded="false" tabindex="-1">
        <span id="TheGridIcon" class="material-icons-outlined-nosize">grid_view</span>
        <span id="TheGridName">@_f.tra("Tabulka")</span>
        
    </button>
    
    <div id="cmdgridmenu_menu" class="dropdown-menu">
        loading...
    </div>
</div>



