

@addTagHelper *,UI

<button id="cmdMore" tabindex="-1" class="btn bog" data-bs-toggle="collapse" role="button" aria-expanded="false" title="Rozšíření">
    <myicon symbol="more_horiz"></myicon>

</button>
