@model string
@inject BL.Factory _f


<select onchange="_postback()" asp-for="@Model" class="form-select">
    <option value="">@_f.tra("ISO kód státu")</option>
    <option value="CZ">CZ</option>
    <option value="SK">SK</option>
    <option value="CA">CA</option>
    <option value="CY">CY</option>    
    <option value="AT">AT</option>
    <option value="AU">AU</option>
    <option value="BE">BE</option>
    <option value="BG">BG</option>
    <option value="CA">CA</option>
    <option value="CN">CN</option>    
    <option value="DE">DE</option>
    <option value="DK">DK</option>    
    <option value="EE">EE</option>
    <option value="EL">EL</option>
    <option value="ES">ES</option>
    <option value="FI">FI</option>
    <option value="FR">FR</option>
    <option value="GB">GB</option>
    <option value="GI">GI</option>
    <option value="GR">GR</option>
    <option value="HK">HK</option>
    <option value="HR">HR</option>
    <option value="HU">HU</option>
    <option value="CH">CH</option>
    <option value="IE">IE</option>
    <option value="IL">IL</option>
    <option value="IS">IS</option>
    <option value="IT">IT</option>
    <option value="LT">LT</option>
    <option value="LU">LU</option>
    <option value="LV">LV</option>
    <option value="MT">MT</option>
    <option value="NL">NL</option>
    <option value="PL">PL</option>
    <option value="PT">PT</option>
    <option value="RO">RO</option>
    <option value="RU">RU</option>
    <option value="SE">SE</option>
    <option value="SI">SI</option>
    <option value="TR">TR</option>
    <option value="TW">TW</option>
    <option value="UA">UA</option>
    <option value="US">US</option>

</select>