/*link pro hamburger menu*/
/*link pro hamburger menu*/
a.cm {
    cursor: pointer;
    text-decoration: none;
    color: black;
    text-align: center;
    float: left;
    
}

    a.cm:hover {
        color: black;
        background-color: lightsteelblue;
    }



/* ----------------------- Kontextové MENU Zleva doprava ----------------------- */
.cm_left2right {
    /* padding: 6px; */
    margin: 0;
    border: none;
    background-color: white; /*aliceblue*/
    border: 1px solid rgba(0,0,0,0.15); /* z bootstrapu */
    z-index: 999;
}

    .cm_left2right ul, .cm_left2right li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cm_left2right ul {
        position: relative;
        z-index: 597;
        float: left;
    }

        .cm_left2right ul li {
            float: left;
            min-height: 1px;
            line-height: 1.7em;
            vertical-align: middle;
        }

            .cm_left2right ul li.hover, .cm_left2right ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        .cm_left2right ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 598;
            width: 100%;
        }

            .cm_left2right ul ul li {
                float: none;
            }

            .cm_left2right ul ul, .cm_left2right ul ul ul {
                top: -1px;
                left: 99%;
            }

        .cm_left2right ul li:hover > ul {
            visibility: visible;
        }

        .cm_left2right ul li {
            float: none;
        }

    .cm_left2right a {
        display: block;
    }
    /* Custom CSS Styles */


    .cm_left2right:after, .cm_left2right ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cm_left2right ul {
        background-color: white; /* aliceblue */
        border: 1px solid #AAAAAA;
        padding: 4px;
        width: 300px;
    }

        .cm_left2right ul li {
            color: #000;
            position: relative;
        }

            .cm_left2right ul li.hover, .cm_left2right ul li:hover {
                background: var(--pozadi);
                color: var(--popredi);
            }

                .cm_left2right ul li.hover > a, .cm_left2right ul li:hover > a {
                    color: var(--popredi);
                    background: var(--pozadi);
                    /* border: 1px solid silver; */
                }

        .cm_left2right ul ul {
            width: 260px;
        }

    .cm_left2right a {
        border: 1px solid transparent;
        padding: 3px 10px;
    }

        .cm_left2right a:link, .cm_left2right a:visited {
            color: #000;
            text-decoration: none;
        }

        .cm_left2right a:hover {
            background: #E5E5E5;
            color: #2D89EF;
        }

        .cm_left2right a:active {
            color: #ffa500;
        }

    .cm_left2right .has-sub:hover > a:after, .cm_left2right .has-sub.hover > a:after {
        border-color: transparent transparent transparent #FFF;
    }

    .cm_left2right .has-sub > a:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #808080;
        position: absolute;
        top: 50%;
        right: 5%;
        margin-top: -4px;
        -webkit-transform: rotate(360deg);
    }







/* ----------------------- Kontextové MENU na stránce RecPage ----------------------- */
.cm_recpage {
    margin: 0;
    border: none;
}

    .cm_recpage ul, .cm_recpage li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cm_recpage ul {
        position: relative;
        z-index: 597;
        float: left;
        width: 100%;
    }

        .cm_recpage ul li {
            float: left;
            min-height: 1px;
            line-height: 1.7em;
            vertical-align: middle;
        }

            .cm_recpage ul li.hover, .cm_recpage ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        .cm_recpage ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 598;
            width: 100%;
        }

            .cm_recpage ul ul li {
                float: none;
            }

            .cm_recpage ul ul, .cm_recpage ul ul ul {
                top: -1px;
                left: 99%;
            }

        .cm_recpage ul li:hover > ul {
            visibility: visible;
        }

        .cm_recpage ul li {
            float: none;
        }

    .cm_recpage a {
        display: block;
    }
    /* Custom CSS Styles */


    .cm_recpage:after, .cm_recpage ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cm_recpage ul {
        border: 1px solid #AAAAAA;
        padding-top: 4px;
    }

        .cm_recpage ul li {
            color: #000;
            position: relative;
        }

            .cm_recpage ul li.hover, .cm_recpage ul li:hover {
                background: var(--pozadi);
                color: var(--popredi);
            }

                .cm_recpage ul li.hover > a, .cm_recpage ul li:hover > a {
                    color: var(--popredi);
                    background: var(--pozadi);
                    /* border: 1px solid silver; */
                }

        .cm_recpage ul ul {
            width: 260px;
        }

    .cm_recpage a {
        border: 1px solid transparent;
        padding: 3px 10px;
    }

        .cm_recpage a:link, .cm_recpage a:visited {
            color: #000;
            text-decoration: none;
        }

        .cm_recpage a:hover {
            background: #E5E5E5;
            color: #2D89EF;
        }

        .cm_recpage a:active {
            color: #ffa500;
        }

    .cm_recpage .has-sub:hover > a:after, .cm_recpage .has-sub.hover > a:after {
        border-color: transparent transparent transparent #FFF;
    }

    .cm_recpage .has-sub > a:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #808080;
        position: absolute;
        top: 50%;
        right: 5%;
        margin-top: -4px;
        -webkit-transform: rotate(360deg);
    }

.cm_submenu {
    background-color: #F8F9FA !important; /* #90EE90 */
    padding: 6px;
    position: absolute;
}

.cm_submenuicon {
    color: royalblue
}